<h1 mat-dialog-title>Edit Menu Item</h1>
<div mat-dialog-content>
  <form *ngIf="data && data.menuItem">
    <ng-container *ngIf="!isWorldPizzaTourItem(data.menuItem)">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="data.menuItem.name" name="name" required />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="data.menuItem.description" name="description"></textarea>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Category</mat-label>
        <input matInput [(ngModel)]="data.menuItem.category" name="category" required />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput type="number" [(ngModel)]="data.menuItem.price" name="price" />
      </mat-form-field>
    </ng-container>

    <ng-container *ngIf="isWorldPizzaTourItem(data.menuItem)">
      <mat-form-field appearance="fill">
        <mat-label>Month</mat-label>
        <mat-select [(ngModel)]="data.menuItem.month" name="month">
          <mat-option *ngFor="let month of months" [value]="month">
            {{ month }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="data.menuItem.name" name="name" required />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="data.menuItem.description" name="description"></textarea>
      </mat-form-field>
    </ng-container>
  </form>

  <div *ngIf="!data || !data.menuItem">
    <p>Error: Menu item data is missing.</p>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSave()" [disabled]="!data || !data.menuItem">Save</button>
</div>