/* Desktop/Tablet */
/* Header */
.persistant-title {
    font-size: 2.5em;
    text-align: center;
    margin-top: 45px;
    text-shadow: 2px 2px 5px #E3735E;
}

/* Angular Material Toolbar */
mat-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #E3735E;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

/* Angular Material Toolbar Container Links */
mat-toolbar a {
    text-decoration: none;
    color: inherit;
}

/* Angular Material Toolbar Container Links on Hover */
mat-toolbar a:hover {
    text-decoration: underline;
}

/* Angular Material Toolbar on Desktop */
.desktoptablet-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.desktoptablet-menu a {
    margin: 0 1rem;
}

button {
    display: none;
}

.mobile-menu {
    display: none;
}

main {
    font-size: 0.8em;
    margin: 30px;
    padding: 10px;
    border: 1px black solid;
    background-color: #C0C0C0;
    box-shadow: 2px 2px #E3735E;
}

footer {
    font-size: 0.5em;
    margin: 30px;
    padding: 10px;
    border: 1px black solid;
    background-color: #C0C0C0;
    box-shadow: 2px 2px #E3735E;
}

/* Mobile */
@media (max-width: 600px) {

    .persistant-title {
        font-size: 1.5em;
    }

    mat-toolbar {
        justify-content: space-between;
    }

    .desktoptablet-menu {
        display: none;
    }

    button {
        display: block;
        height: 40px;
        width: 40px;
    }

    .mobile-menu {
        display: flex;
        justify-content: center;
        position: fixed;
        margin-top: 50px;
        top: 95px;
        left: 0;
        width: 100%;
        background-color: white;
        z-index: 10;
    }

    .mobile-menu a {
        margin: 0.3rem 0.8rem;
        text-decoration: none;
        color: inherit;
        width: 100%;
        font-size: 0.4em;
    }

    main {
        justify-content: center;
    }
}