<!-- Header -->
<header>
  <h1 class="persistant-title">When Worlds Collide Pizza</h1>
</header>

<!-- Navigation -->
<nav>
  <mat-toolbar>
    <button mat-icon-button (click)="toggleMenu()" aria-label="Toggle menu">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="desktoptablet-menu">
      <div class="links">
        <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        <a routerLink="menu" routerLinkActive="active" ariaCurrentWhenActive="page">Our Menu</a>
        <a routerLink="order" routerLinkActive="active" ariaCurrentWhenActive="page">Place An Order</a>
        <a routerLink="contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact Us</a>
      </div>
    </div>
    <div *ngIf="showMenu" class="mobile-menu">
      <!-- Menu Toolbar -->
      <div class="links">
        <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        <a routerLink="menu" routerLinkActive="active" ariaCurrentWhenActive="page">Our Menu</a>
        <a routerLink="order" routerLinkActive="active" ariaCurrentWhenActive="page">Place An Order</a>
        <a routerLink="contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact Us</a>
      </div>
    </div>
  </mat-toolbar>
</nav>

<!-- Main Section with Router Outlet entry point into Home/Menu/Order/Contact components. -->
<main>
  <router-outlet />
</main>

<!-- Footer -->
<footer>
  Footer content!
</footer>